div.info_container{
    width: 75%;
    margin-inline: auto;
    opacity: .8;
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    p{
        margin-block: 1rem;
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 890px) and (min-width: 750px){

    div.info_container{
        width: 90%;
    }
}
@media(max-width: 790px){
    div.info_container{
        width: 95%;
        
        p{
            font-size: 100%;
            margin-block: 1rem;
            display: flex;
            justify-content: space-between;
        }
    }
}
