div.Error-container{
    display: flex;
    // justify-content: center;
    // align-items: center;
    padding-top: 6rem;
    height: 89vh;
    // margin-left: 30%;
}

div.Error-Link{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    flex-direction: column;
    gap: 1.2rem;

    h1{

        font-weight: 500;
    }
a{
    color: var(--yellow);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
}

@media(max-width: 790px){
    div.Error-container{
        width: 80%;
        margin-inline: auto;
    }
}